<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.youbeer.com.br.appbreja">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EntradaAppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPadraoActivity"
            android:label="@string/title_activity_menu_padrao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListaEstabelecimentoActivity" />
        <activity android:name=".EstabelecimentoActivity" />
        <activity android:name=".CervejaActivity"></activity>
    </application>

</manifest>